$gray: #555;
$gray-lighter: #777;
$white: #fff;
$lightskyblue: #87CEFA;
$silver: #bbb;
$red: #e02b11;
$state-danger-text: #b94a48;
$lavender-purple: #d99ec9;
$fair-skin: #f6f0c4;
$peach: #FFAA85;
$crimson: #B3315F;
$pale-skin: #FFD3A5;
$baby-pink: #FD6585;
$very-light-gray: #e3e3e3;
